body {
    background-color: black;
    color: beige;
}

.hero-image {  /*flex container*/
    background-image: url("images/heroField.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    align-items: center;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(150, 113, 22), gold);
    border-image-slice: 1;
    min-height: 260px;
}

.glass {
    border: 1px solid white;
    border-style: outset;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    text-shadow: 1px 1px 5px black;
}

.coach { /*flex-item, flex container*/ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 24.06rem;
    height: 12.5rem;
    margin: 2% 0;
}

.coach-image {
    width: 9.375rem;
    margin: 2.5rem 0;
    border-radius: 8%;
}

.player-image {
    margin: 4px 4px 0 4px;
    border-radius: 8%;
}

.info {
    margin: 0;
    padding: 0;
    page-break-before: always;
}

.main { /*flex container*/
    background-image: url("images/football.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right,gold, rgb(150, 113, 22));
    border-image-slice: 1;
}

.profile { /*flex-item & container*/
    width: 150px;
    min-height: 230px;
    height: fit-content;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding-left: 4px;
    margin-top: 4px;
    margin-left: 4px;
    overflow-wrap: anywhere;
}

ul li {
    margin-bottom: 4px;
    border-bottom: 1px solid white;
}

h2 {
    margin: 8px auto;
    display: table-header-group;
}

.formContainer {
    margin: 2%;
}

form {
    display: table;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

form div {
    display: table-row;
    padding: 4px;
    text-align: center;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}

.create {
    color: beige;
    border: 1px solid white;
    border-style: outset;
    border-radius: 8px;
    background-color: darkblue;
    width: 40%;
}

.submitContainer {
    display: flex;
    justify-content: center;
}

.btn-danger {
    color: #404040;
    background: none;
    font-size: 1.25em;
    text-align: center;
    border: none;
}

.trashContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
}

.fa-trash {
    pointer-events: none; /* Make sure the icon does not block click events */
}
