body {
    background-color: black;
    color: beige;
    /* border: 5px solid red; */
}

.hero-image {  /*flex container*/
    background-image: url("images/heroField.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    align-items: center;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(150, 113, 22), gold);
    border-image-slice: 1;
    min-height: 260px;
}

.glass {
    border: 1px solid white;
    border-style: outset;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
}

.coach { /*flex-item*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 385px;
    height: 200px;
}

.coach-image {
    width: 150px;
    margin: 40px 0;
}

.info {
    margin: 0;
    padding: 0;
    page-break-before: always;
}

.main { /*flex container*/
    background-image: url("images/football.jpg");
    background-size: cover;
    display: flex;
    /* border: 5px solid yellow; */
    height: 100vh;
}

.profile { /*flex-item*/
    width: 150px;
    height: 150px;
    margin: 2%;
    text-align: center;
    align-content: center;
}
